[submodule "hpm_sdk"]
	path = hpm_sdk
	url = https://github.com/Alliance-Hardware/hpm_sdk.git
[submodule "alliance_hpm_base_platform"]
	path = alliance_hpm_base_platform
	url = https://github.com/liguijia/alliance_hpm_base_platform.git
